@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../fonts/ProximaNova-Light.eot');
    src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Light.woff') format('woff'),
         url('../fonts/ProximaNova-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'ProximaNova-Reg';
    src: url('../fonts/ProximaNova-Reg.eot');
    src: url('../fonts/ProximaNova-Reg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Reg.woff') format('woff'),
         url('../fonts/ProximaNova-Reg.ttf') format('truetype');
}
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Semibold.woff') format('woff'),
         url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
        font-weight: normal;
}
@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Bold.woff') format('woff'),
         url('../fonts/ProximaNova-Bold.ttf') format('truetype');
        font-weight: normal;
}
@font-face {
    font-family: 'ProximaNova-Thin';
    src: url('../fonts/ProximaNova-Thin.eot');
    src: url('../fonts/ProximaNova-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Thin.woff') format('woff'),
         url('../fonts/ProximaNova-Thin.ttf') format('truetype');
        font-weight: normal;
}


