body {
    margin: 0;
    font-family: 'ProximaNova-Reg';
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p, a, ul, li, input, label, button, textarea {
    margin: 0;
    padding: 0;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.btn_gray,
a.btn_gray {
    display: block;
    line-height: 34px;
    width: 87px;
    text-align: center;
    height: 36px;
    background: none;
    border: 1px solid #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.btn_gray:hover,
a.btn_gray:hover {
    background: rgba(255,255,255,.3);
}
.btn_gray:active,
a.btn_gray:active {
    background: rgba(0,0,0,.15);
}
.btn_red,
a.btn_red {
    width: 160px;
    display: block;
    line-height: 34px;
    padding: 0 18px;
    height: 36px;
    background: #F06B74;
    border: 1px solid #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.btn_red:hover,
a.btn_red:hover {
    background: #FF5A5E;
}
.btn_red:active,
a.btn_red:active {
    background: #E34545;
}
.container {
    padding-left: 30px;
    padding-right: 30px;
}
/* Header
------------------------------------------------------------------------------------ */
.header_container {
    background: url(../img/full_size_bg.jpg) center;
    background-size: cover;
    width: 100%;
    position: relative;
    min-height: 550px;
    min-width: 751px;
}
.header_container .logo {
    width: 140px;
    height: 33px;
    background: url(../img/sprite.svg);
    background-repeat: no-repeat;
    background-size: 1450px auto;
    background-position: -3px -3px;
}
.header_mask {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    background: url(../img/head_mask.png);
    background-size: cover;
}
.header_container .user_enter {
    text-align: right;
    width: 100%;
}
.header_container .user_enter .messages {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #fff;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
}
.header_container .user_enter .messages .envelope {
    background: url(../img/sprite.svg);
    background-repeat: no-repeat;
    background-size: 1450px auto;
    background-position: -144px -3px;
    display: inline-block;
    width: 20px;
    height: 12px;
}
.header_container .user_enter .messages:hover {
    background: rgba(255,255,255,.3);
}
.header_container .user_enter .messages:active {
    background: rgba(0,0,0,.15);
}
.header_container .user_enter .have_msg {
     border: 1px solid #FF5555;
}
.header_container .user_enter .have_msg .envelope {
    background-position: -167px -3px;
}
.header_container .user_enter .have_msg:hover {
    background: rgba(234,84,84,.15);
}
.header_container .user_enter .have_msg:active {
    background: rgba(157,45,45,.2);
}
.header_container .user_avatar {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
    overflow: hidden;
    margin-left: 10px;
}
.header_container .user_avatar img {
    width: 100%;
}
.header_container .user_enter .name {
    display: inline-block;
}
.header_container .user_enter .popup_show {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-family: 'ProximaNova-Light';
    text-decoration: none;
    outline: none;
    margin-top: 8px;
    margin-left: 10px;
    padding-right: 8px;
}
.header_container .user_enter .popup_show .caret {
    background: url(../img/sprite.svg);
    width: 8px;
    height: 4px;
    border: none;
    margin-left: 4px;
    background-position: -208px -3px;
}
.header_container .user_enter .popup_show.open .caret {
    background-position: -208px -10px;
}
.header_container .user_enter .dropdown-menu {
    top: 43px;
    left: -100%;
    border: none;
    box-shadow: none;
    border-radius: 3px;
    background: rgba(255,255,255,.8);
    padding-top: 0;
    padding-bottom: 1px;
    margin-left: -15px;
}
.header_container .dropdown-menu li:first-child a:before {
    content: '';
    position: absolute;
    right: 8px;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-color: rgba(255,255,255,.8);
}
.header_container .dropdown-menu li:first-child:hover a:before {
    border-bottom-color: #F5F5F5
}
.header_container .dropdown-menu li a {
    padding: 4px 9px 3px;
    width: 100%;
    color: #646464;
    font-size: 12px;
    font-family: 'ProximaNova-Light';
    border-bottom: 1px solid #D3E1E8;
    position: relative;
}
.header_container .dropdown-menu li:first-child a {
    border-radius: 3px 3px 0 0;
}
.header_container .dropdown-menu li:last-child a {
    border-bottom: none;
    border-radius: 0 0 3px 3px;
}
.header_container .dropdown-menu li a:hover {
    background: #F5F5F5;
}
.header_container .cities_container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255,255,255,.35);
    height: 120px;
}
.header_container .cities_container .container {
    padding-top: 42px;
}
.header_container .city {
    padding-top: 5px;
}
.header_container .city a {
    font-size: 18px;
    color: #343434;
    font-family: 'ProximaNova-Reg';
    position: relative;
    text-decoration: none;
    line-height: 18px;
    display: inline-block;
}
.header_container .city a:hover {
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,.4)
}
.header_container .city a span {
    font-size: 14px;
    position: absolute;
    bottom: 8px;
    left: 100%;
    padding-left: 5px;
}
.cities_container .container {
    position: relative;
}
.cities_container .popular {
    position: absolute;
    left: 0;
    top: -12px;
    width: 186px;
    height: 25px;
    background: url(../img/popular.png);
    color: #343434;
    font-size: 12px;
    line-height: 24px;
    padding-left: 15px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}
.header_container .search_wrap {
    padding-top: 190px;
}
.header_container .search_wrap h1 {
    font-size: 92px;
    color: white;
    text-align: center;
    font-family: 'ProximaNova-Semibold'
}
.header_container .search_wrap .search {
    width: 100%;
    height: 46px;
    font-family: 'ProximaNova-Light';
    color: #9CA4C2;
    position: relative;
    margin-top: 41px;
}
.header_container .search_wrap input {
    width: 100%;
    height: 47px;
    outline: none;
    border: none;
    padding-left: 40px;
    padding-right: 15px;
    border-radius: 5px;
    color: #464646;
}
.header_container .search_wrap .search_icon {
    position: absolute;
    left: 15px;
    top: 11px;
    width: 16px;
    height: 24px;
    background: url(../img/sprite.svg);
    background-size: 1450px auto;
    background-position: -190px -2px;
}
.header_container .we_have {
    margin-top: 148px;
}
.header_container .we_have h2 {
    font-size: 40px;
    color: #fff;
    font-family: 'ProximaNova-Thin';
}
.header_container .we_have p {
    font-size: 16px;
    color: #fff;
    font-family: 'ProximaNova-Light';
}
/* Popup
------------------------------------------------------------------------------------ */
#popup .modal-dialog {
    width: 286px;
}
#popup .modal-dialog .modal-content {
    padding: 25px 30px 35px 30px;
    background: #f4f5f5;
}
#popup .modal-dialog .modal-content .modal-body {
    padding: 0;
}
#popup .modal-dialog .modal-content .close {
    position: absolute;
    top: 8px;
    right: 8px;
}
#popup form {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #939393;
}
#popup p {
    font-family: 'ProximaNova-Light';
    font-size: 16px;
    color: #464646;
    margin-bottom: 20px;
}
#popup input[type="text"] {
    font-family: 'ProximaNova-Light';
    font-size: 14px;
    color: #464646;
    width: 100%;
    height: 30px;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    background: #eeeeee;
    padding: 0 10px;
    margin-bottom: 10px;
}
#popup input[type="submit"] {
    float: right;
    height: 30px;
    padding: 0 15px;
    background: #58bae3;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 3px;
}
#popup input[type="submit"]:hover {
    opacity: .9;
}
#popup a.remind_pswrd {
    font-size: 12px;
    color: #464646;
    text-decoration: none;
    border-bottom: 1px dashed #d3d3d3;
}
#popup a.remind_pswrd:hover {
    border-color: transparent;
}
#popup a.popup_social {
    width: 104px;
    height: 24px;
    line-height: 24px;
    font-family: 'ProximaNova-Light';
    font-size: 12px;
    text-align: center;
    border: 1px solid;
    border-radius: 2px;
}
#popup a.popup_social:hover {
    text-decoration: none;
    opacity: .9;
}
#popup a.popup_social .caption {
    width: 23px;
    height: 100%;
    line-height: 28px;
}
#popup a.popup_social .caption span {
    width: 14px;
    height: 12px;
    background: url(../img/sprite.svg);
    background-size: 1450px auto;
    display: inline-block;
}
#popup a.fb {
    margin-bottom: 15px;
    border-color: #3b5998;
    color: #3b5998;
}
#popup a.vk {
    margin-bottom: 15px;
    border-color: #5a7ba1;
    color: #5a7ba1;
}
#popup a.gl {
    border-color: #dc4335;
    color: #dc4335;
}
#popup a.tw {
    border-color: #41aaf1;
    color: #41aaf1;
}
#popup a.fb .caption {
    background: #3b5998;
}
#popup a.vk .caption {
    background: #5a7ba1;
}
#popup a.gl .caption {
    background: #dc4335;
}
#popup a.tw .caption {
    background: #41aaf1;
}
#popup a.fb .caption span {
    width: 7px;
    background-position: -106px -151px;
}
#popup a.vk .caption span {
    background-position: -129px -151px;
}
#popup a.gl .caption span {
    width: 15px;
    background-position: -113px -151px;
}
#popup a.tw .caption span {
    background-position: -142px -151px;
}
/* Info
------------------------------------------------------------------------------------ */
.info_container {
    padding: 80px 0 0;
    text-align: center;
    min-width: 751px;
}
.info_container a.how_it_works {
    display: block;
    margin: auto;
    width: 228px;
    height: 55px;
    background: #8ac7e6;
    border-radius: 5px;
    opacity: .8;
    margin-bottom: 150px;
    padding-left: 50px;
}
.info_container a.how_it_works p {
    font-family: 'ProximaNova-Light';
    font-size: 16px;
    line-height: 55px;
    color: #fff;
    text-align: center;
    position: relative;
    display: block;
    border-left: 1px solid #ffffff;
}
.info_container a.how_it_works p:before {
    content: '';
    width: 19px;
    height:  25px;
    background: url(../img/sprite.svg) no-repeat;
    background-size: 1450px auto;
    background-position: -85px -150px;
    margin-top: 13px;
    margin-left: -60px;
    position: absolute;
}
.info_container a.how_it_works:hover {
    opacity: 1;
    text-decoration: none;
}
.info_container h1 {
    font-family: 'ProximaNova-Reg';
    font-size: 45px;
    color: #30abde;
    margin: 40px 0 25px;
}
.info_container h2 {
    font-family: 'ProximaNova-Reg';
    font-size: 22px;
    color: #464646;
    margin-bottom: 35px;
}
.info_container .info_image div {
    height: 258px;
    width: 160px;
    margin: auto;
    background: url(../img/sprite.svg) no-repeat;
    background-size: 1450px auto;
}
.info_container .info_image .first_info_image {
    background-position: -251px -3px;
}
.info_container .info_image .second_info_image {
    width: 200px;
    background-position: -412px -3px;
}
.info_container .info_image .third_info_image {
    background-position: -614px -3px;
}
.info_container .info_image .fourth_info_image {
    background-position: -777px -3px;
}


/* User reviews
------------------------------------------------------------------------------------ */
.user_reviews_container {
    min-width: 751px;
    min-height: 425px;
    background: transparent;
}
.user_reviews_container h1 {
    font-size: 42px;
    color: #fff;
    text-align: center;
    padding-top: 63px;
}
.reviews_slider {
    margin-top: 9px;
}
.reviews_slider .carousel {
    margin-left: -59px;
}
.reviews_slider .item {
    height: 145px;
}
.reviews_slider .carousel-inner {
    width: 1028px;
}
.reviews_slider .carousel-inner .item:before,
.reviews_slider .carousel-inner .item:after {
    content: '';
    position: absolute;
    width: 38px;
    height: 32px;
    background: url(../img/sprite.svg);
    background-size: 1450px auto;
}
.reviews_slider .carousel-inner .item:before {
    left: 0px;
    top: 5px;
    background-position: -2px -151px;
}
.reviews_slider .carousel-inner .item:after {
    bottom: 10px;
    right: 15px;
    background-position: -44px -151px;
}
.reviews_slider .carousel-caption {
    width: 100%;
    top: 0;
    left: 0;
    text-align: left;
    padding: 0;
    font-size: 22px;
    font-family: 'ProximaNova-Light';
    text-shadow: none;
    height: 125px;
    padding-left: 59px;
    padding-right: 59px;
    padding-top: 20px;
}
.user_reviews_container .carousel-indicators {
    bottom: -100px;
    left: 135px;
    width: 780px;
    height: 60px;
    margin-left: 0;
}
.user_reviews_container .carousel-indicators li {
    width: 200px;
    height: 60px;
    margin: 0;
    border: none;
    text-indent: 0;
    background: none;
    float: left;
    margin-right: 50px;
    opacity: .5;
}
.user_reviews_container .carousel-indicators li:hover,
.user_reviews_container .carousel-indicators li.active {
    opacity: 1;
}
.user_reviews_container .carousel-indicators li:last-child {
    margin-right: 0;
}
.user_reviews_container .carousel-indicators .text {
    float: left;
    padding-left: 17px;
    padding-top: 10px;
    text-align: left;
}
.user_reviews_container .carousel-indicators .text .name {
    font-family: 'ProximaNova-Reg';
    font-size: 14px;
    color: #fff;
}
.user_reviews_container .carousel-indicators .text .were {
    color: rgba(255,255,255,.6);
    font-size: 12px;
    font-family: 'ProximaNova-Light';
    line-height: 16px;
}
.user_reviews_container .avatar {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
}
.user_reviews_container .avatar img {
    width: 100%;
}
/* Benefits
------------------------------------------------------------------------------------ */
.benefits_container {
    min-width: 751px;
    background: #f5f5f5;
    padding: 70px 0;
    text-align: center;
    position: relative;
}
.benefits_container .benefits_image {
    margin: auto;
    height: 120px;
    background: url(../img/sprite.svg) no-repeat;
    background-size: 1450px auto;
}
.benefits_container .first_benefits_image {
    width: 180px;
    background-position: -938px -126px;
}
.benefits_container .second_benefits_image {
    width: 123px;
    background-position: -1119px -126px;
}
.benefits_container .third_benefits_image {
    width: 130px;
    background-position: -1244px -126px;
}
.benefits_container h5,
.benefits_container p {
    font-size: 20px;
    color: #464646;
}
.benefits_container h5 {
    font-family: 'ProximaNova-Bold';
    margin: 40px 0 20px;
}

/* Tour container
------------------------------------------------------------------------------------ */
.tour_container {
    min-width: 751px;
}
.tour_container .circle {
    width: 220px;
    height: 220px;
    background: #F5F5F5;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -110px;
    margin-top: -110px;
    z-index: 2;
    border-radius: 50%;
}
.tour_container .circle .circle_icon {
    width: 122px;
    height: 122px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -61px;
    margin-left: -61px;
    background: url(../img/sprite.svg);
    background-size: 1450px auto;
    background-position: -1025px -2px;
}
.tour_container {
    height: 620px;
    background: #F5F5F5;
}
.tour_container .tour {
    margin-top: 180px;
    position: relative;
}
.tour_container .tour .find,
.tour_container .tour .great {
    width: 475px;
    height: 255px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px #E8E8E8;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 20px;
    color: #464646;
    font-family: 'ProximaNova-Light';
    cursor: pointer;
    display: block;
    text-decoration: none;
}
.tour_container .tour .find {
    padding-top: 46px;
}
.tour_container .tour .find .img {
    width: 82px;
    height: 110px;
    background: url(../img/sprite.svg);
    background-size: 1450px auto;
    background-position: -940px -13px;
    margin-bottom: 19px;
}
.tour_container .tour .find span,
.tour_container .tour .great span {
    font-family: 'ProximaNova-Reg';
    display: inline-block;
    line-height: 18px;
}
.tour_container .tour .find:hover span {
    border-bottom: 1px solid rgba(48,171,222,.5);
}
.tour_container .tour .great:hover span {
    border-bottom: 1px solid rgba(234,84,84,.5);
}
.tour_container .tour .find span {
    color: #30abde;
}
.tour_container .tour .great {
    padding-top: 50px;
}
.tour_container .tour .great .img {
    width: 91px;
    height: 91px;
    background: url(../img/sprite.svg);
    background-size: 1450px auto;
    background-position: -1147px -32px;
    margin-bottom: 34px;
}
.tour_container .tour .great span {
    color: #ea5454;
}
/* Social
------------------------------------------------------------------------------------ */
.social_container {
    min-width: 751px;
    padding: 18px 0;
}
.social_container a {
    font-size: 18px;
    color: #646464;
    padding-left: 10px;
}
.social_container a:hover {
    text-decoration: none;
}
.social_container a span {
    width: 26px;
    height: 26px;
    background: url(../img/sprite.svg) no-repeat;
    background-size: 1450px auto;
    float: left;
}
.social_container a.mail span {
    margin-top: 4px;
    height: 18px;
    background-position: -3px -39px;
}
.social_container a.fb span {
    background-position: -32px -39px;
}
.social_container a.ig span {
    background-position: -60px -39px;
}
.social_container a.tw span {
    background-position: -88px -39px;
}
.social_container a.mail:hover,
.social_container a.mail:hover span {
    background-position: -3px -59px;
    color: #ea5454;
}
.social_container a.fb:hover,
.social_container a.fb:hover span {
    background-position: -32px -67px;
    color: #3b5998;
}
.social_container a.ig:hover,
.social_container a.ig:hover span {
    background-position: -60px -67px;
    color: #a36d51;
}
.social_container a.tw:hover,
.social_container a.tw:hover span {
    background-position: -88px -67px;
    color: #41aaf1;
}
/* Footer
------------------------------------------------------------------------------------ */
.footer_container {
    min-width: 751px;
    background: #2f2f2f;
    padding: 50px 0 0;
}
.footer_container .copyright {
    padding-top: 20px;
}
.footer_container .copyright p {
    font-family: 'ProximaNova-Light';
    font-size: 12px;
    color: #fff;
}
.footer_container .copyright p a {
    font-size: 12px;
    color: #fff;
    text-decoration: underline;
}
.footer_container .footer_trip {
    height: 100px;
    background: url(../img/footer_trip_bg.svg) no-repeat center;
}
.footer_container h2 {
    font-family: 'ProximaNova-Semibold';
    font-size: 22px;
    color: #fff;
    margin-bottom: 15px;
}
.footer_container ul.links,
.footer_container ul.payments {
    list-style: none;
}
.footer_container ul.links li a {
    font-family: 'ProximaNova-Light';
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.footer_container ul.links li a:hover {
    text-decoration: underline;
}
.footer_container ul.payments {
    margin-bottom: 12px;
}
.footer_container ul.payments li {
    margin-right: 17px;
    float: left;
}
.footer_container ul.payments li:last-child {
    margin-right: 0;
}
.footer_container ul.payments a {
    background: url(../img/sprite.svg) no-repeat;
    background-size: 1450px auto;
    height: 24px;
    display: block;
}
.footer_container ul.payments a.pb {
    width: 24px;
    background-position: -3px -95px;
}
.footer_container ul.payments a.visa {
    width: 47px;
    background-position: -30px -95px;
}
.footer_container ul.payments a.mc {
    width: 39px;
    background-position: -80px -95px;
}
.footer_container ul.payments a.ym {
    width: 56px;
    background-position: -120px -95px;
}
.footer_container ul.payments a.qiwi {
    width: 65px;
    background-position: -178px -95px;
}
.footer_container ul.payments a.pb:hover {
    background-position: -3px -124px;
}
.footer_container ul.payments a.visa:hover {
    background-position: -30px -124px;
}
.footer_container ul.payments a.mc:hover {
    background-position: -80px -124px;
}
.footer_container ul.payments a.ym:hover {
    background-position: -120px -124px;
}
.footer_container ul.payments a.qiwi:hover {
    background-position: -178px -124px;
}

/* Media
------------------------------------------------------------------------------------ */
@media screen and (max-width: 1199px) {
/* Header ------------------------------------------------------ */
    .header_container .search_wrap h1 {
        font-size: 74px;
    }
    .header_container .search_wrap {
        padding-top: 112px;
    }
    .header_container .we_have {
        margin-top: 125px;
    }
    .header_container .we_have p {
        font-size: 12px;
    }
    .header_container .we_have .btn_red {
        width: 156px;
        height: 34px;
        font-size: 18px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        line-height: 32px;
        margin-left: -24px;
    }
    .header_container .we_have h2 {
        font-size: 34px;
        margin-left: -4px;
        width: 215px;
    }
/* Info ------------------------------------------------------ */
    .info_container h1 {
        font-size: 34px;
    }
    .info_container h2 {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 60px;
    }
    .info_container .info_image div {
        height: 205px;
        width: 126px;
        background-size: 1135px auto;
    }
    .info_container .info_image .first_info_image {
        background-position: -197px -1px;
    }
    .info_container .info_image .second_info_image {
        height: 205px;
        width: 157px;
        background-position: -323px -1px;
    }
    .info_container .info_image .third_info_image {
        background-position: -480px -1px;
    }
    .info_container .info_image .fourth_info_image {
        background-position: -607px -1px;
    }
/* Benefits ------------------------------------------------------ */
    .benefits_container h5,
    .benefits_container p {
        font-size: 14px;
    }
    .benefits_container h5 {
        margin: 30px 0 15px;
    }
    .benefits_container .benefits_image {
        height: 90px;
        background-size: 1050px auto;
    }
    .benefits_container .first_benefits_image {
        width: 128px;
        background-position: -680px -90px;
    }
    .benefits_container .second_benefits_image {
        width: 91px;
        background-position: -809px -90px;
    }
    .benefits_container .third_benefits_image {
        width: 95px;
        background-position: -900px -90px;
    }
/* User reviews ------------------------------------------------------ */
    .user_reviews_container {
        min-height: 400px;
    }
    .user_reviews_container h1 {
        font-size: 34px;
        padding-top: 52px;
    }
    .reviews_slider {
        margin-top: 28px;
    }
    .reviews_slider .carousel {
        margin-left: -38px;
    }
    .reviews_slider .carousel-caption {
        font-size: 18px;
    }
    .reviews_slider .carousel-inner .item:before,
    .reviews_slider .carousel-inner .item:after {
        content: '';
        width: 25px;
        height: 22px;
        background: url(../img/sprite.svg);
        background-size: 950px auto;
    }
    .reviews_slider .carousel-inner .item:before {
        left: 0px;
        top: 18px;
        background-position: -2px -98px;
    }
    .reviews_slider .carousel-inner .item:after {
        bottom: 20px;
        right: 5px;
        background-position: -30px -98px;
    }
    .reviews_slider .carousel-inner {
        width: 810px;
    }
    .reviews_slider .carousel-caption {
        padding-left: 38px;
        padding-right: 38px;
    }
    .user_reviews_container .carousel-indicators {
        left: 38px;
        bottom: -88px;
    }
/* Tour container ------------------------------------------------------ */
    .tour_container {
        height: 560px;
    }
    .tour_container .tour {
        margin-top: 177px;
    }
    .tour_container .tour .find,
    .tour_container .tour .great {
        width: 378px;
        height: 226px;
        padding-left: 35px;
        padding-right: 25px;
        font-size: 18px;
    }
    .tour_container .tour .great {
        padding-left: 55px;
        padding-right: 15px;
    }
    .tour_container .tour .find {
        padding-top: 35px;
    }
    .tour_container .tour .find .img {
        width: 66px;
        height: 88px;
        background-size: 1150px auto;
        background-position: -745px -10px;
        margin-bottom: 22px;
    }
    .tour_container .tour .great {
        padding-top: 39px;
    }
    .tour_container .tour .great .img {
        width: 74px;
        height: 74px;
        background-size: 1150px auto;
        background-position: -909px -24px;
        margin-bottom: 31px;
    }
}
@media screen and (max-width: 991px) {
/* Header ------------------------------------------------------ */
    .header_container .logo {
        width: 120px;
        height: 30px;
        background-position: -3px -2px;
        background-size: 1232px auto;
    }
    .header_container .cities_container {
        height: 90px;
    }
    .header_container .cities_container .container {
        height: 90px;
        padding-top: 30px;
    }
    .header_container .city {
        padding-top: 0;
    }
    .header_container .city a {
        font-size: 14px;
        line-height: 14px;
    }
    .header_container .city a span {
        font-size: 12px;
    }
    .header_container .search_wrap h1 {
        font-size: 72px;
    }
    .header_container .search_wrap {
        padding-top: 90px;
    }
    .header_container .we_have {
        margin-top: 114px;
    }
    .header_container .we_have h2 {
        text-align: left;
        font-size: 32px;
    }
    .header_container .we_have p {
        margin-left: -10px;
    }
    .header_container .we_have .btn_red {
        width: 130px;
        height: 32px;
        margin-left: -40px;
        font-size: 14px;
    }
/* Info ------------------------------------------------------ */
    /*.info_container a.how_it_works {
        width: 150px;
        height: 36px;
        padding-left: 35px;
    }
    .info_container a.how_it_works p {
        font-size: 14px;
        line-height: 36px;
    }
    .info_container a.how_it_works p:before {
        margin-left: -30px;
        position: absolute;
        margin-top: 8px;
        width: 15px;
        height: 19px;
        background-size: 1100px auto;
        background-position: -64px -115px;
    }*/
    .info_container {
        padding: 50px 0;
    }
    .info_container h1 {
        font-size: 30px;
        margin: 25px 0;
    }
    .info_container h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 35px;
    }
    .info_container .info_image div {
        height: 145px;
        width: 90px;
        background-size: 800px auto;
    }
    .info_container .info_image .first_info_image {
        background-position: -138px -1px;
    }
    .info_container .info_image .second_info_image {
        height: 145px;
        width: 110px;
        background-position: -229px -1px;
    }
    .info_container .info_image .third_info_image {
        background-position: -338px -1px;
    }
    .info_container .info_image .fourth_info_image {
        background-position: -428px -1px;
    }
/* Benefits ------------------------------------------------------ */
    .benefits_container h5,
    .benefits_container p {
        font-size: 11px;
    }
    .benefits_container h5 {
        margin: 20px 0 10px;
    }
    .benefits_container .benefits_image {
        height: 70px;
        background-size: 810px auto;
    }
    .benefits_container .first_benefits_image {
        width: 100px;
        background-position: -525px -70px;
    }
    .benefits_container .second_benefits_image {
        width: 70px;
        background-position: -625px -70px;
    }
    .benefits_container .third_benefits_image {
        width: 75px;
        background-position: -694px -70px;
    }
/* User reviews ------------------------------------------------------ */
    .user_reviews_container {
        min-height: 310px;
    }
    .user_reviews_container h1 {
        font-size: 26px;
        padding-top: 52px;
    }
    .reviews_slider {
        margin-top: 11px;
    }
    .reviews_slider .carousel {
        margin-left: -40px;
    }
    .reviews_slider .carousel-caption {
        font-size: 14px;
    }
    .reviews_slider .carousel-inner .item:before,
    .reviews_slider .carousel-inner .item:after {
        content: '';
        width: 20px;
        height: 18px;
        background: url(../img/sprite.svg);
        background-size: 795px auto;
    }
    .reviews_slider .carousel-inner .item:before {
        background-position: -2px -83px;
    }
    .reviews_slider .carousel-inner .item:after {
        bottom: 5px;
        right: 12px;
        background-position: -25px -83px;
    }
    .reviews_slider .carousel-inner {
        width: 650px;
    }
    .reviews_slider .carousel-caption {
        padding-left: 40px;
        padding-right: 40px;
    }
    .user_reviews_container .carousel-indicators {
        left: 38px;
        bottom: -88px;
    }
    .reviews_slider .item {
        height: 105px;
    }
    .user_reviews_container .carousel-indicators .text {
        padding-left: 10px;
        padding-top: 8px;
        text-align: left;
    }
    .user_reviews_container .carousel-indicators .text .name {
        font-size: 12px;
    }
    .user_reviews_container .carousel-indicators .text .were {
        font-size: 10px;
        line-height: 14px;
    }
    .user_reviews_container .avatar {
        width: 48px;
        height: 48px;
    }
    .user_reviews_container .carousel-indicators {
        left: 30px;
        width: 610px;
    }
    .user_reviews_container .carousel-indicators li {
        width: 160px;
        margin-right: 60px;
    }
/* Social ------------------------------------------------------ */
    .social_container {
        padding: 12px 0;
    }
    .social_container a {
        font-size: 12px;
    }
    .social_container a span {
        width: 22px;
        height: 22px;
        background-size: 1150px auto;
    }
    .social_container a.mail span {
        margin-top: 3px;
        height: 14px;
        background-position: -2px -31px;
    }
    .social_container a.fb span {
        background-position: -25px -31px;
    }
    .social_container a.ig span {
        background-position: -47px -31px;
    }
    .social_container a.tw span {
        background-position: -69px -31px;
    }
    .social_container a.mail:hover span {
        background-position: -2px -47px;
    }
    .social_container a.fb:hover span {
        background-position: -25px -53px;
    }
    .social_container a.ig:hover span {
        background-position: -47px -53px;
    }
    .social_container a.tw:hover span {
        background-position: -69px -53px;
    }
/* Tour container ------------------------------------------------------ */
    .tour_container {
        height: 410px;
    }
    .tour_container .tour {
        margin-top: 125px;
    }
    .tour_container .tour .find,
    .tour_container .tour .great {
        width: 290px;
        height: 172px;
        padding-left: 25px;
        padding-right: 15px;
        font-size: 14px;
    }
    .tour_container .tour .great {
        padding-left: 45px;
    }
    .tour_container .tour .find {
        padding-top: 25px;
    }
    .tour_container .tour .find .img {
        width: 50px;
        height: 68px;
        background-size: 880px auto;
        background-position: -570px -7px;
        margin-bottom: 14px;
    }
    .tour_container .tour .great {
        padding-top: 29px;
    }
    .tour_container .tour .great .img {
        width: 56px;
        height: 56px;
        background-size: 880px auto;
        background-position: -695px -19px;
        margin-bottom: 22px;
    }
    .tour_container .tour .find span ,
    .tour_container .tour .great span {
        line-height: 14px;
    }
    .tour_container .circle {
        width: 170px;
        height: 170px;
        left: 50%;
        top: 50%;
        margin-left: -85px;
        margin-top: -85px;
    }
    .tour_container .circle .circle_icon {
        width: 93px;
        height: 93px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -46px;
        margin-left: -46px;
        background-size: 1100px auto;
        background-position: -775px -2px;
    }
/* Footer ------------------------------------------------------ */
    .footer_container h2 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .footer_container ul.links li a {
        font-size: 12px;
    }
    .footer_container .copyright p,
    .footer_container .copyright p a {
        font-size: 10px;
    }
}

@media screen and (max-height: 800px) {
    .header_container .search_wrap {
        padding-top: 112px;
    }
    .header_container .we_have {
        margin-top: 125px;
    }
}
@media screen and (max-height: 680px) {
    .header_container .search_wrap {
        padding-top: 50px;
    }
    .header_container .we_have {
        margin-top: 84px;
    }
}
@media screen and (max-height: 600px) {
    .header_container .search_wrap {
        padding-top: 30px;
    }
    .header_container .we_have {
        margin-top: 54px;
    }
}
/* Map ----------------------------------------*/
.plags_container {
    top: 0;
    width: 100%;
    overflow: hidden;
}
.world_map_image {
    width: 1100px;
    height: 263px;
    background: url('../img/tourista-map.svg') no-repeat;
    background-size: cover;
    opacity: 0;
}
.plags {
    width: 85px;
    height: 94px;
    background: url('../img/markers.svg') no-repeat;
    background-size: 342px 94px;
    margin-top: -100%;
}
.first_plag {
    background-position: 0 0;
    margin-left: 61%;
}
.second_plag {
    background-position: -85px 0;
    margin-left: 53%;
}
.third_plag {
    background-position: -170px 0;
    margin-left: 29%;
}
.fourth_plag {
    background-position: -255px 0;
    margin-left: 0px;
}
@media screen and (max-width: 1200px) {
    .world_map_image {
        width: 940px;
        height: 225px;
        background: url('../img/tourista-map.svg') no-repeat;
        background-size: cover;
        opacity: 0;
    }
    .plags {
        width: 71px;
        background: url('../img/markers.svg') no-repeat;
        background-size: 285px 78px;
    }
    .first_plag {
        background-position: 0 0;
    }
    .second_plag {
        background-position: -71px 0;
        margin-left: 57%;
    }
    .third_plag {
        background-position: -142px 0;
        margin-left: 35%;
    }
    .fourth_plag {
        background-position: -213px 0;
    }
    .info_container a.how_it_works {
        margin-bottom: 110px;
    }
}

@media screen and (max-width: 992px) {
    .world_map_image {
        width: 720px;
        height: 172px;
        background: url('../img/tourista-map.svg') no-repeat;
        background-size: cover;
        opacity: 0;
    }
    .plags {
        width: 52px;
        background: url('../img/markers.svg') no-repeat;
        background-size: 210px 58px;
    }
    .first_plag {
        background-position: 0 0;
    }
    .second_plag {
        background-position: -52px 0;
        margin-left: 57%;
    }
    .third_plag {
        background-position: -104px 0;
        margin-left: 35%;
    }
    .fourth_plag {
        background-position: -156px 0;
    }
    .info_container a.how_it_works {
        margin-bottom: 75px;
    }
}
@media screen and (max-width: 991px) {
    .info_container {
        padding: 50px 0 0;
    }
}